{{! home.hbs }}
 
{{#extends "layout"}}
 
    {{#block "scripts"}}
    {{/block}}
 
    {{#block "content"}}
        {{#each pets as |petName|}}
            <p>{{petName}}</p>
        {{/each}}
    {{/block}}
 
{{/extends}}