{{! home.hbs }}
 
{{#extends "layout"}}
 
    {{#block "scripts"}}
    {{/block}}
 
    {{#block "content"}}
        <h1>
            {{title}}
        </h1>
        <h5>
            An app to track and manage your cooking ingredients and recipes. 
        </h5>
        <p>
            Other features like shopping list generation aim to smooth the average home cook's experience while keeping a well stocked pantry.
        </p>
    {{/block}}
 
{{/extends}}