{{! home.hbs }}
 
{{#extends "layout"}}
 
    {{#block "scripts"}}
    {{/block}}
 
    {{#block "content"}}
        <h1>
            {{title}}
        </h1>
        <p>
            An app to track and manage your cooking ingredients and recipes. 
            <br>
            Other features like shoppinglist generation aim to smooth the average homecooks experience while keeping a well stocked pantry.
        </p>
    {{/block}}
 
{{/extends}}