{{! layout.hbs }}

<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Skeleton: Responsive CSS Boilerplate</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <title> Kitchen App — {{title}} </title>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/Skeleton-2.0.4/css/normalize.css">
  <link rel="stylesheet" href="/Skeleton-2.0.4/css/skeleton.css">
  <link rel="stylesheet" href="css/custom.css">

  <style>
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    }

    .container__header,
    .container__footer {
        flex-shrink: 0;
    }

    .container__main {
        flex-grow: 1;
    }

    .tabs {
        /* Center the content */
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .tabs__tab--active {
        /* Border */
        border: 1px solid rgba(0, 0, 0, 0.3);
        /* Hide the bottom border */
        border-bottom-color: transparent;

        /* Border radius */
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
    }

    .tabs__tab--inactive {
        /* Has only the bottom border */
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
  </style>

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {{#block "scripts"}}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  {{/block}}

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/Skeleton-2.0.4/images/favicon.png">

</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="container u-full-width">

    {{#block "container__header"}}
    <header class="container__header u-full-width">

        <div class="tabs five u-full-width">
            <!-- Active tab -->
            <div class="tabs__tab--active one column">
                Page 1
            </div>

            <!-- Inactive tab -->
            <div class="tabs__tab--inactive one column">
                Page 2
            </div>

            <!-- Inactive tab -->
            <div class="tabs__tab--inactive one column">
                Page 3
            </div>

            <!-- Inactive tab -->
            <div class="tabs__tab--inactive one column">
                Page 4
            </div>

            <!-- Inactive tab -->
            <div class="tabs__tab--inactive one column">
                Page 5
            </div>
        </div>
    </header>
    {{/block}}

    {{#block "container__main"}}
        ...
    {{/block}}

    {{#block "content"}}
    <footer class="container__footer">
        ...
    </footer>
    {{/block}}

  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>