{{! layout.hbs }}

<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Skeleton: Responsive CSS Boilerplate</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <title> Kitchen App — {{title}} </title>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/Skeleton-2.0.4/css/normalize.css">
  <link rel="stylesheet" href="/Skeleton-2.0.4/css/skeleton.css">
  <link rel="stylesheet" href="css/custom.css">

  <style>
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    }

    .container__header,
    .container__footer {
        flex-shrink: 0;
    }

    .container__main {
        flex-grow: 1;
    }
  </style>

  <!-- Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  {{#block "scripts"}}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  {{/block}}

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/Skeleton-2.0.4/images/favicon.png">

</head>

<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="container u-full-width">

    {{#block "container__header"}}
    <header class="container__header u-full-width">
        {{#block "container__main"}}
            {{#*inline "navButton"}}
                <a class="button" href=".{{route}}">{{name}}</a>
            {{/inline}}

            {{#each sM}}
                {{> navButton}}
            {{/each}}
    {{/block}}
    </header>
    {{/block}}

    

    {{#block "content"}}
    <footer class="container__footer">
        ...
    </footer>
    {{/block}}

  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>