{{! locations.hbs }}
 
{{#extends "layout"}}
 
    {{#block "scripts"}}
    {{/block}}
 
    {{#block "content" mode="append"}}

        {{#*inline "location-table"}}
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>location_id</th>
                        <th>location_name</th>
                        <th>category</th>
                        <th>product_id</th>
                        <th>edit</th>
                        <th>delete</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <form>
                                <td><input type="number">location_id<input></td>
                                <td><input type="text">location_name<input></td>
                                <td><input type="">category<input></td>
                                <td><input type="number">product_id<input></td>
                                <td><input type="button">edit<input></td>
                                <td><input type="button">delete<input></td>
                            </form>
                        </tr>
                    {{#each locations}}
                        <tr>
                                <th>{{location_id}}</th>
                                <th>{{location_name}}</th>
                                <th>{{category}}</th>
                                <th>{{product_id}}</th>
                                <th>📝</th>
                                <th>❌</th>
                        </tr>
                        
                    {{/each}}
                </tbody>
            </table>
        {{/inline}}

        {{> location-table}}

        <!-- Always wrap checkbox and radio inputs in a label and use a <span class="label-body"> inside of it -->

        <!-- Note: The class .u-full-width is just a utility class shorthand for width: 100% -->
    {{/block}}
 
{{/extends}}