{{! recipes.hbs }}
 
{{#extends "layout"}}
 
    {{#block "scripts"}}
    {{/block}}
 
    {{#block "content"}}
        <h1>
            {{title}}
        </h1>
        {{#each pets as |petName|}}
            <p>{{petName}}</p>
        {{/each}}
    {{/block}}
 
{{/extends}}