{{! shopping.hbs }}
 
{{#extends "layout"}}
 
    {{#block "scripts"}}
    {{/block}}
 
    {{#block "content" mode="append"}}

        {{#*inline "shopping-table"}}
            <table class="u-full-width">
                <thead>
                    <tr>
                        <th>purchase_date</th>
                        <th>meal_plan_range</th>
                        <th>edit</th>
                        <th>delete</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each shopping}}
                        <tr>
                            <td>{{purchase_date}}</td>
                            <td>{{meal_plan_range}}</td>
                            <td>📝</td>
                            <td>❌</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
        {{/inline}}

        {{> shopping-table}}

    {{/block}}
 
{{/extends}}